# Things to ignore
tmux/.tmux/plugins/*
!tmux/.tmux/plugins/tpm
vim/.vim/autoload/plug.vim
vim/.vim/autoload/plug.vim.old
vim/.vim/plugged/
vim/.vim/view/
vim/.vim/.netrwhist
vim/.vim/ycm_extra_conf.pyc
.DS_Store
*.sw*
zsh/**/*.zwc
__pycache__
