Xft.dpi: 192

#define nord00 #2E3440
#define nord01 #3B4252
#define nord02 #434C5E
#define nord03 #4C566A
#define nord04 #D8DEE9
#define nord05 #E5E9F0
#define nord06 #ECEFF4
#define nord07 #8FBCBB
#define nord08 #88C0D0
#define nord09 #81A1C1
#define nord0A #5E81AC
#define nord0B #BF616A
#define nord0C #D08770
#define nord0D #EBCB8B
#define nord0E #A3BE8C
#define nord0F #B48EAD

*.foreground:   nord04
*.background:   nord00
*.cursorColor:  nord04
*fading: 35
*fadeColor: nord03

*.color0: nord01
*.color1: nord0B
*.color2: nord0E
*.color3: nord0D
*.color4: nord09
*.color5: nord0F
*.color6: nord08
*.color7: nord05
*.color8: nord03
*.color9: nord0B
*.color10: nord0E
*.color11: nord0D
*.color12: nord09
*.color13: nord0F
*.color14: nord07
*.color15: nord06
