Xft.dpi: 192

#define catppuccin00 #45475A
#define catppuccin01 #F38BA8
#define catppuccin02 #A6E3A1
#define catppuccin03 #F9E2AF
#define catppuccin04 #89B4FA
#define catppuccin05 #F5C2E7
#define catppuccin06 #94E2D5
#define catppuccin07 #BAC2DE
#define catppuccin08 #585B70
#define catppuccin09 #F38BA8
#define catppuccin0A #A6E3A1
#define catppuccin0B #F9E2AF
#define catppuccin0C #89B4FA
#define catppuccin0D #F5C2E7
#define catppuccin0E #94E2D5
#define catppuccin0F #A6ADC8

#define catppuccinFG #CDD6F4
#define catppuccinBG #1E1E2E

*background: catppuccinBG
*foreground: catppuccinFG
*cursorColor: catppuccinFG

! black
*color0: catppuccin00
*color8: catppuccin08

! red
*color1: catppuccin01
*color9: catppuccin09

! green
*color2: catppuccin02
*color10: catppuccin0A

! yellow
*color3: catppuccin03
*color11: catppuccin0B

! blue
*color4: catppuccin04
*color12: catppuccin0C

! magenta
*color5: catppuccin05
*color13: catppuccin0D

! cyan
*color6: catppuccin06
*color14: catppuccin0E

! white
*color7: catppuccin07
*color15: catppuccin0F
